<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714168235896-hrrb16p4suupfkkfpbf9rliptemrq5hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714168235896-hrrb16p4suupfkkfpbf9rliptemrq5hu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>714168235896-7bn3lmuvc3evbe4gfm66beagqr6phpa2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAj9b7yrO0r0r2Bh8A1PbiQLzITEZz5leE</string>
	<key>GCM_SENDER_ID</key>
	<string>714168235896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ovr.ovrPerformance</string>
	<key>PROJECT_ID</key>
	<string>ovr-connect-3952a</string>
	<key>STORAGE_BUCKET</key>
	<string>ovr-connect-3952a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714168235896:ios:b0929a3ca72a3383493a8d</string>
</dict>
</plist>