rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth.uid == resource.data.uid;
      allow delete: if request.auth != null;
    }

    match /user/{parent}/sportAndPosition/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if request.auth.uid == parent;
      allow write: if request.auth.uid == parent;
      allow delete: if false;
    }

    match /sports/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /sports/{parent}/position/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/position/{document} {
      allow read: if false;
    }


    match /privacy_policy_table/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /exercise/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /exercise/{parent}/set/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/set/{document} {
      allow read: if true;
    }


    match /exercise/{parent}/DateOfExercise/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/DateOfExercise/{document} {
      allow read: if true;
    }

  }
}
